.embalse-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cuadrícula con columnas automáticas */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .embalse-card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center; /* Centra el texto y la imagen */
  }
  
  .embalse-card h3 {
    margin: 0 0 10px;
    font-size: 1.25rem;
  }
  
  .embalse-card p {
    margin: 5px 0;
  }
  
  .embalse-card:hover {
    transform: scale(1.05); /* Efecto hover */
  }
  
  /* Estilo para la imagen */
  .embalse-image {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    height: 200px; /* Definir una altura para las imágenes */
    object-fit: cover; /* La imagen cubrirá el espacio disponible sin distorsión */
    border-radius: 8px; /* Bordes redondeados para la imagen */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
  }
  